In [1]:
import pandas as pd
df = pd.read_csv('./inputs/weatherAUS (testdata).csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [8]:
df['RainToday'].isna().sum()

np.int64(3261)

In [9]:
df['RainTomorrow'].isna().sum()

np.int64(3267)

In [12]:
df_cleanna = df.dropna()
df_cleanna

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

In [13]:
df_cleanna['RainTomorrow'].isna().sum()

np.int64(0)

In [19]:
directions = set(df_cleanna['WindDir3pm']).union(set(df_cleanna['WindDir9am'])).union(set(df_cleanna['WindGustDir']))
directions

{'E',
 'ENE',
 'ESE',
 'N',
 'NE',
 'NNE',
 'NNW',
 'NW',
 'S',
 'SE',
 'SSE',
 'SSW',
 'SW',
 'W',
 'WNW',
 'WSW'}

In [39]:
dir_labels = ['WindDir3pm', 'WindDir9am', 'WindGustDir']
dir_num = {'N': 0, 'NNE': 22.5, 'NE': 45, 'ENE': 67.5,
           'E': 90, 'ESE': 112.5, 'SE': 135, 'SSE': 157.5,
           'S': 180, 'SSW': 202.5, 'SW': 225, 'WSW': 247.5,
           'W': 270, 'WNW': 292.5, 'NW': 315, 'NNW': 337.5}

In [31]:
cnt = 0
for i, x in df_cleanna.iterrows():
    if any([x[l] not in dir_num for l in dir_labels]):
        print(i)
        cnt += 1

In [32]:
'N' in dir_num

True

In [33]:
'A' in dir_num

False

In [47]:
df_dir2num = df_cleanna.copy()
# for i,x in df_dir2num.iterrows():
#     for l in dir_labels:
#         # x[l] = dir_num[x[l]]
#         x[l] = 0

for l in dir_labels:
    df_dir2num[l] = df_dir2num[l].replace(dir_num)

C:\Users\siw20\AppData\Local\Temp\ipykernel_19768\335843237.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_dir2num[l] = df_dir2num[l].replace(dir_num)

In [48]:
df_dir2num

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,202.5,48.0,67.5,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,180.0,37.0,157.5,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,22.5,46.0,22.5,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,292.5,31.0,292.5,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,292.5,35.0,315.0,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,67.5,35.0,135.0,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No
142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,90.0,37.0,135.0,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No
142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,90.0,33.0,90.0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No
142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,112.5,26.0,135.0,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No
142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,67.5,30.0,67.5,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No

In [51]:
df_cleaned = df_dir2num.copy()
df_cleaned['RainToday'] = df_cleaned['RainToday'].replace({'Yes': 1, 'No': 0})
df_cleaned['RainTomorrow'] = df_cleaned['RainTomorrow'].replace({'Yes': 1, 'No': 0})

C:\Users\siw20\AppData\Local\Temp\ipykernel_19768\1951554839.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaned['RainToday'] = df_cleaned['RainToday'].replace({'Yes': 1, 'No': 0})
C:\Users\siw20\AppData\Local\Temp\ipykernel_19768\1951554839.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_cleaned['RainTomorrow'] = df_cleaned['RainTomorrow'].replace({'Yes': 1, 'No': 0})

In [52]:
df_cleaned

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,202.5,48.0,67.5,...,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,180.0,37.0,157.5,...,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,22.5,46.0,22.5,...,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,292.5,31.0,292.5,...,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,292.5,35.0,315.0,...,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,67.5,35.0,135.0,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,0,0
142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,90.0,37.0,135.0,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,0,0
142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,90.0,33.0,90.0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,0,0
142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,112.5,26.0,135.0,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,0,0
142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,67.5,30.0,67.5,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,0,0

In [53]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56420 entries, 6049 to 142302
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           56420 non-null  object
 1   Location       56420 non-null  object
 2   MinTemp        56420 non-null  float64
 3   MaxTemp        56420 non-null  float64
 4   Rainfall       56420 non-null  float64
 5   Evaporation    56420 non-null  float64
 6   Sunshine       56420 non-null  float64
 7   WindGustDir    56420 non-null  float64
 8   WindGustSpeed  56420 non-null  float64
 9   WindDir9am     56420 non-null  float64
 10  WindDir3pm     56420 non-null  float64
 11  WindSpeed9am   56420 non-null  float64
 12  WindSpeed3pm   56420 non-null  float64
 13  Humidity9am    56420 non-null  float64
 14  Humidity3pm    56420 non-null  float64
 15  Pressure9am    56420 non-null  float64
 16  Pressure3pm    56420 non-null  float64
 17  Cloud9am       56420 non-null  float64
 18  Cloud3pm       56420 non-null  float64
 19  Temp9am        56420 non-null  float64
 20  Temp3pm        56420 non-null  float64
 21  RainToday      56420 non-null  int64
 22  RainTomorrow   56420 non-null  int64
dtypes: float64(19), int64(2), object(2)
memory usage: 10.3+ MB

In [56]:
df_sydney = df_cleaned[df_cleaned['Location'] == 'Sydney']
df_sydney

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
31168,2010-10-20,Sydney,12.9,20.3,0.2,3.0,10.9,67.5,37.0,270.0,...,70.0,57.0,1028.8,1025.6,3.0,1.0,16.9,19.8,0,0
31169,2010-10-21,Sydney,13.3,21.5,0.0,6.6,11.0,67.5,41.0,270.0,...,75.0,58.0,1025.9,1022.4,2.0,5.0,17.6,21.3,0,0
31170,2010-10-22,Sydney,15.3,23.0,0.0,5.6,11.0,22.5,41.0,270.0,...,70.0,63.0,1021.4,1017.8,1.0,4.0,19.0,22.2,0,0
31174,2010-10-26,Sydney,12.9,26.7,0.2,3.8,12.1,45.0,33.0,270.0,...,73.0,56.0,1018.0,1015.0,1.0,5.0,17.8,22.5,0,0
31175,2010-10-27,Sydney,14.8,23.8,0.0,6.8,9.6,157.5,54.0,157.5,...,76.0,69.0,1016.0,1014.7,2.0,7.0,20.2,20.6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33515,2017-06-21,Sydney,8.6,19.6,0.0,2.0,7.8,157.5,37.0,270.0,...,73.0,52.0,1025.9,1025.3,2.0,2.0,10.5,17.9,0,0
33516,2017-06-22,Sydney,9.3,19.2,0.0,2.0,9.2,270.0,30.0,270.0,...,78.0,53.0,1028.5,1024.6,2.0,2.0,11.0,18.7,0,0
33517,2017-06-23,Sydney,9.4,17.7,0.0,2.4,2.7,270.0,24.0,292.5,...,85.0,56.0,1020.8,1015.0,6.0,6.0,10.2,17.3,0,0
33518,2017-06-24,Sydney,10.1,19.3,0.0,1.4,9.3,270.0,43.0,270.0,...,56.0,35.0,1017.3,1015.1,5.0,2.0,12.4,19.0,0,0
33519,2017-06-25,Sydney,7.6,19.3,0.0,3.4,9.4,270.0,35.0,270.0,...,73.0,32.0,1018.6,1015.4,1.0,1.0,9.4,18.8,0,0

In [58]:
df_cleaned['Location'].value_counts()

Location
Darwin              3062
Perth               3025
Brisbane            2953
MelbourneAirport    2929
PerthAirport        2913
SydneyAirport       2870
Watsonia            2730
Mildura             2594
MountGambier        2465
NorfolkIsland       2464
Cairns              2444
Townsville          2419
WaggaWagga          2416
AliceSprings        2223
Nuriootpa           2008
Hobart              1939
Moree               1913
Melbourne           1898
Portland            1863
Woomera             1734
Sydney              1690
Sale                1678
CoffsHarbour        1380
Williamtown         1198
Canberra            1078
Cobar                534
Name: count, dtype: int64

In [59]:
df['Location'].value_counts()

Location
Canberra            3436
Sydney              3344
Adelaide            3193
Darwin              3193
Hobart              3193
Perth               3193
Melbourne           3193
Brisbane            3193
Albury              3040
MountGinini         3040
GoldCoast           3040
Wollongong          3040
MountGambier        3040
Launceston          3040
AliceSprings        3040
Albany              3040
Townsville          3040
Bendigo             3040
Cairns              3040
Ballarat            3040
Penrith             3039
Newcastle           3039
Tuggeranong         3039
PerthAirport        3009
Williamtown         3009
Cobar               3009
BadgerysCreek       3009
SydneyAirport       3009
Richmond            3009
Moree               3009
CoffsHarbour        3009
NorfolkIsland       3009
WaggaWagga          3009
Witchcliffe         3009
Watsonia            3009
Dartmoor            3009
Portland            3009
Sale                3009
MelbourneAirport    3009
Mildura             3009
Nuriootpa           3009
Woomera             3009
PearceRAAF          3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Nhil                1578
Katherine           1578
Uluru               1578
Name: count, dtype: int64

In [60]:
df_darwin = df_cleaned[df_cleaned['Location'] == 'Darwin']
df_darwin

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
139111,2008-07-01,Darwin,20.0,33.1,0.0,4.4,11.0,90.0,41.0,67.5,...,81.0,32.0,1016.0,1012.1,1.0,2.0,25.4,32.3,0,0
139112,2008-07-02,Darwin,19.4,32.4,0.0,6.0,10.4,67.5,50.0,135.0,...,81.0,17.0,1016.8,1012.4,1.0,1.0,24.3,31.9,0,0
139113,2008-07-03,Darwin,18.2,31.8,0.0,8.0,11.0,90.0,46.0,112.5,...,38.0,24.0,1017.2,1013.0,0.0,1.0,24.3,31.2,0,0
139114,2008-07-04,Darwin,17.3,30.7,0.0,7.0,10.4,90.0,44.0,135.0,...,55.0,16.0,1017.3,1013.6,2.0,6.0,21.3,29.8,0,0
139115,2008-07-05,Darwin,15.5,30.8,0.0,7.0,10.8,112.5,46.0,90.0,...,37.0,16.0,1016.3,1012.6,1.0,1.0,22.2,29.6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,67.5,35.0,135.0,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,0,0
142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,90.0,37.0,135.0,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,0,0
142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,90.0,33.0,90.0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,0,0
142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,112.5,26.0,135.0,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,0,0
142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,67.5,30.0,67.5,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,0,0

In [61]:
df_darwin.to_csv('./inputs/darwin (testdata).csv')

In [62]:
df_darwin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3062 entries, 139111 to 142302
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3062 non-null   object
 1   Location       3062 non-null   object
 2   MinTemp        3062 non-null   float64
 3   MaxTemp        3062 non-null   float64
 4   Rainfall       3062 non-null   float64
 5   Evaporation    3062 non-null   float64
 6   Sunshine       3062 non-null   float64
 7   WindGustDir    3062 non-null   float64
 8   WindGustSpeed  3062 non-null   float64
 9   WindDir9am     3062 non-null   float64
 10  WindDir3pm     3062 non-null   float64
 11  WindSpeed9am   3062 non-null   float64
 12  WindSpeed3pm   3062 non-null   float64
 13  Humidity9am    3062 non-null   float64
 14  Humidity3pm    3062 non-null   float64
 15  Pressure9am    3062 non-null   float64
 16  Pressure3pm    3062 non-null   float64
 17  Cloud9am       3062 non-null   float64
 18  Cloud3pm       3062 non-null   float64
 19  Temp9am        3062 non-null   float64
 20  Temp3pm        3062 non-null   float64
 21  RainToday      3062 non-null   int64
 22  RainTomorrow   3062 non-null   int64
dtypes: float64(19), int64(2), object(2)
memory usage: 574.1+ KB