In [31]:
import pandas as pd

df = pd.read_csv('./datasets/weatherAUS (testdata).csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

model = LogisticRegression()
X = df.iloc[:, 3:-1] # 독립변수
# Y = df['열'].map({'값': 0, '갑': 1})
Y = df.iloc[:, -1]
Y

0          No
1          No
2          No
3          No
4          No
         ...
145455     No
145456     No
145457     No
145458     No
145459    NaN
Name: RainTomorrow, Length: 145460, dtype: object

In [33]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
# train_test_split()
x_train

,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
22926,23.7,0.2,5.0,7.3,ESE,52.0,ESE,ESE,31.0,28.0,74.0,73.0,1016.6,1013.9,5.0,7.0,21.4,22.2,No
80735,24.0,0.2,1.6,10.9,NE,48.0,NNW,NNE,13.0,24.0,74.0,55.0,1018.3,1014.6,3.0,5.0,14.3,23.2,No
121764,22.2,1.4,1.2,9.6,SW,26.0,NaN,SW,0.0,11.0,85.0,47.0,1017.6,1014.9,1.0,2.0,16.6,21.5,Yes
139821,29.9,0.0,9.2,11.0,ESE,43.0,ESE,E,26.0,17.0,44.0,37.0,1015.9,1012.1,1.0,1.0,23.2,29.1,No
1867,17.6,12.4,NaN,NaN,E,20.0,ESE,E,11.0,13.0,100.0,100.0,1015.2,1010.5,8.0,8.0,16.5,17.3,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41993,38.1,0.0,26.0,NaN,NE,39.0,NNE,E,7.0,13.0,61.0,30.0,1014.5,1009.7,1.0,1.0,25.4,36.8,No
97639,27.3,0.0,NaN,10.0,W,30.0,NaN,WNW,0.0,13.0,60.0,32.0,1019.2,1017.3,NaN,NaN,17.0,26.5,No
95939,29.8,0.0,5.6,NaN,ENE,22.0,NW,ENE,4.0,13.0,77.0,54.0,1019.6,1016.1,NaN,NaN,24.1,29.0,No
117952,22.0,3.8,6.2,7.7,SSW,35.0,SSE,WNW,19.0,24.0,55.0,49.0,1020.0,1018.5,7.0,6.0,17.1,19.7,Yes
43567,16.7,0.8,NaN,NaN,SSW,50.0,S,SSE,31.0,24.0,59.0,51.0,1032.0,1032.2,NaN,NaN,14.7,16.4,No

In [34]:
model.fit(x_train, y_train)

ValueError: could not convert string to float: 'ESE'

In [35]:
model.predict(x_test)

ValueError: could not convert string to float: 'NNW'

In [29]:
y_test

465     0
1646    0
1504    0
1014    0
1371    0
       ..
1764    0
2400    0
958     0
346     0
1424    0
Name: RainTomorrow, Length: 613, dtype: int64

In [30]:
model.score(x_test, y_test)

0.867862969004894