In [1]:
import pandas as pd

df = pd.read_csv('./datasets/darwin (testdata).csv')
df

,Unnamed: 0,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,139111,2008-07-01,Darwin,20.0,33.1,0.0,4.4,11.0,90.0,41.0,...,81.0,32.0,1016.0,1012.1,1.0,2.0,25.4,32.3,0,0
1,139112,2008-07-02,Darwin,19.4,32.4,0.0,6.0,10.4,67.5,50.0,...,81.0,17.0,1016.8,1012.4,1.0,1.0,24.3,31.9,0,0
2,139113,2008-07-03,Darwin,18.2,31.8,0.0,8.0,11.0,90.0,46.0,...,38.0,24.0,1017.2,1013.0,0.0,1.0,24.3,31.2,0,0
3,139114,2008-07-04,Darwin,17.3,30.7,0.0,7.0,10.4,90.0,44.0,...,55.0,16.0,1017.3,1013.6,2.0,6.0,21.3,29.8,0,0
4,139115,2008-07-05,Darwin,15.5,30.8,0.0,7.0,10.8,112.5,46.0,...,37.0,16.0,1016.3,1012.6,1.0,1.0,22.2,29.6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3057,142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,67.5,35.0,...,63.0,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,0,0
3058,142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,90.0,37.0,...,56.0,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,0,0
3059,142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,90.0,33.0,...,46.0,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,0,0
3060,142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,112.5,26.0,...,62.0,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,0,0
3061,142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,67.5,30.0,...,73.0,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,0,0

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
from sklearn.model_selection import train_test_split
X = df[['타겟_열_이름']] # 독립변수
Y = df['열'].map({'값': 0, '갑': 1})

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)