In [1]:
import pandas as pd
df = pd.read_excel('../datasets/R&E데이터.xlsx')
df

,순위,선수명,팀명,AVG,G,PA,AB,H,2B,3B,...,HBP,SO,GDP,E,연도,장,R,TB,SAC,SF
0,1,백인천,MBC,0.412,71,298,250,103,23,1,...,3.0,17.0,5.0,0.0,1982,1,NaN,NaN,NaN,NaN
1,2,윤동균,OB,0.342,77,334,284,97,20,5,...,1.0,27.0,3.0,2.0,1982,1,NaN,NaN,NaN,NaN
2,3,장태수,삼성,0.336,66,264,214,72,15,3,...,5.0,33.0,1.0,2.0,1982,1,NaN,NaN,NaN,NaN
3,4,신경식,OB,0.334,78,320,293,98,21,3,...,3.0,17.0,2.0,6.0,1982,1,NaN,NaN,NaN,NaN
4,5,김봉연,해태,0.331,74,304,269,89,14,1,...,6.0,16.0,8.0,6.0,1982,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,39,김재환,두산,0.239,92,374,318,76,11,2,...,NaN,NaN,NaN,NaN,2025,2,39.0,124.0,0.0,2.0
1871,40,로하스,KT,0.239,95,384,331,79,20,0,...,NaN,NaN,NaN,NaN,2025,2,48.0,141.0,0.0,4.0
1872,41,노시환,한화,0.234,101,436,380,89,18,1,...,NaN,NaN,NaN,NaN,2025,2,68.0,169.0,0.0,2.0
1873,42,권희동,NC,0.233,96,340,266,62,18,0,...,NaN,NaN,NaN,NaN,2025,2,43.0,95.0,4.0,2.0
1874,43,김휘집,NC,0.232,98,347,306,71,11,1,...,NaN,NaN,NaN,NaN,2025,2,42.0,120.0,1.0,0.0

In [ ]:
with open('../datasets/KOB_dataset_clean.csv', 'w') as file:  file.write('')
with open('../datasets/KOB_dataset_clean.csv', 'a') as file:
    pass