In [4]:
import numpy as np
import pandas as pd
np.random.seed(42)

In [5]:
df = pd.read_csv("../datasets/MLB_dataset.csv")
df

,PLAYERPLAYER,G,AB,R,H,2B,3B,HR,RBI,BB,...,caret-upcaret-downHRcaret-upcaret-downHR,RBIRBI,BBBB,SOSO,SBSB,CSCS,AVGAVG,OBPOBP,SLGSLG,OPSOPS
0,1BarryB BondsBondsLF1???,2986.0,9847.0,2227.0,2935.0,601.0,77.0,762.0,1996,2558.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2HankH AaronAaronRF2???,3298.0,12364.0,2174.0,3771.0,624.0,98.0,755.0,2297,1403.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3BabeB RuthRuthRF3???,2504.0,8399.0,2174.0,2873.0,506.0,136.0,714.0,2213,2062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4AlbertA PujolsPujols1B4???,3080.0,11421.0,1914.0,3384.0,686.0,16.0,703.0,2218,1373.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5AlexA RodriguezRodriguezSS5???,2784.0,10566.0,2021.0,3115.0,548.0,31.0,696.0,2086,1338.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22045,22001VaughnVaughnX22001???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0,0.0,NaN,0,--,0.000,0,0.000,0
22046,22001BobbyB. VandeverVandeverX22001???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1,0.0,NaN,0,--,0.333,0.333,0.333,0.666
22047,22001ValdezValdezX22001???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,2,1.0,NaN,1,--,0.167,0.189,0.167,0.356
22048,22001FaustinoF. ValdesValdesX22001???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,3,5.0,NaN,1,--,0.200,0.257,0.215,0.472
22049,22001FerminF. ValdesValdesX22001???,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,20,15.0,NaN,4,--,0.215,0.266,0.244,0.51

In [6]:
df2 = pd.read_excel("../datasets/R&E데이터.xlsx")
df2

,순위,선수명,팀명,AVG,G,PA,AB,H,2B,3B,...,HBP,SO,GDP,E,연도,장,R,TB,SAC,SF
0,1,백인천,MBC,0.412,71,298,250,103,23,1,...,3.0,17.0,5.0,0.0,1982,1,NaN,NaN,NaN,NaN
1,2,윤동균,OB,0.342,77,334,284,97,20,5,...,1.0,27.0,3.0,2.0,1982,1,NaN,NaN,NaN,NaN
2,3,장태수,삼성,0.336,66,264,214,72,15,3,...,5.0,33.0,1.0,2.0,1982,1,NaN,NaN,NaN,NaN
3,4,신경식,OB,0.334,78,320,293,98,21,3,...,3.0,17.0,2.0,6.0,1982,1,NaN,NaN,NaN,NaN
4,5,김봉연,해태,0.331,74,304,269,89,14,1,...,6.0,16.0,8.0,6.0,1982,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1870,39,김재환,두산,0.239,92,374,318,76,11,2,...,NaN,NaN,NaN,NaN,2025,2,39.0,124.0,0.0,2.0
1871,40,로하스,KT,0.239,95,384,331,79,20,0,...,NaN,NaN,NaN,NaN,2025,2,48.0,141.0,0.0,4.0
1872,41,노시환,한화,0.234,101,436,380,89,18,1,...,NaN,NaN,NaN,NaN,2025,2,68.0,169.0,0.0,2.0
1873,42,권희동,NC,0.233,96,340,266,62,18,0,...,NaN,NaN,NaN,NaN,2025,2,43.0,95.0,4.0,2.0
1874,43,김휘집,NC,0.232,98,347,306,71,11,1,...,NaN,NaN,NaN,NaN,2025,2,42.0,120.0,1.0,0.0

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

model = LogisticRegression()
X = df2.drop(columns=['선수명', '순위', '팀명', '장', '연도', 'SB', 'CS', 'BB', 'HBP', 'SO', 'GDP', 'E']).loc[740:, :] # 독립변수

# Y = df['열'].map({'값': 0, '갑': 1})
Y = df2['AVG'].loc[740:]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1135 entries, 740 to 1874
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AVG     1135 non-null   float64
 1   G       1135 non-null   int64
 2   PA      1135 non-null   int64
 3   AB      1135 non-null   int64
 4   H       1135 non-null   int64
 5   2B      1135 non-null   int64
 6   3B      1135 non-null   int64
 7   HR      1135 non-null   int64
 8   RBI     1135 non-null   int64
 9   R       1135 non-null   float64
 10  TB      1135 non-null   float64
 11  SAC     1135 non-null   float64
 12  SF      1135 non-null   float64
dtypes: float64(5), int64(8)
memory usage: 115.4 KB

In [ ]:
# 실제 안타 여부 생성 (베르누이)
# true_coef = np.array([2.0, 3.0, 2.5, 1.0, 1.5])
# bias = -3.0
# for i in range(X):
#     X = np.column_stack([X[i]['OBP'], X[i]['SLG'],X [i]['BABIP'], X[i]['BB_K'], X[i]['ISO']])
#     linear = np.dot(X, true_coef) + bias
#     prob = 1 / (1 + np.exp(-linear))
#     Y = np.random.binomial(1, prob)

def sigmoid(z):
    return 1 / (1 + np.exp(-z))

def logistic_regression(X: np, y, lr=0.1, epochs=1000):
    n_samples, n_features = X.shape
    w = np.zeros(n_features)
    b = 0
    for _ in range(epochs):
        linear = np.dot(X, w) + b
        y_pred = sigmoid(linear)
        dw = np.dot(X.T, (y_pred - y)) / n_samples
        db = np.sum(y_pred - y) / n_samples
        w -= lr * dw
        b -= lr * db
    return w, b


all_X = []
all_y = []
for i in range(n_players):
    X = np.column_stack([players[i]['OBP'], players[i]['SLG'],
                         players[i]['BABIP'], players[i]['BB_K'],
                         players[i]['ISO']])
    y = players[i]['hit']
    all_X.append(X)
    all_y.append(y)
all_X = np.vstack(all_X)
all_y = np.hstack(all_y)

weights, bias = logistic_regression(all_X, all_y, lr=0.5, epochs=1000)
print("학습된 가중치:", weights)
print("학습된 편향:", bias)

print("\n=== 타자별 신타율 ===")
for i in range(n_players):
    X = np.column_stack([players[i]['OBP'], players[i]['SLG'],
                         players[i]['BABIP'], players[i]['BB_K'],
                         players[i]['ISO']])
    pred_prob = sigmoid(np.dot(X, weights) + bias)
    new_avg = np.mean(pred_prob)  # 신타율
    print(f"타자 {i+1} 신타율: {new_avg:.3f}")